apiVersion: v1
data:
  {{ gitlab_domain }}: |-
    {{ lookup('file', '/tmp/certs/cert1.pem') | indent(4) }}
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-tls-certs-cm
    app.kubernetes.io/part-of: argocd
  name: argocd-tls-certs-cm
  namespace: argocd
